.Footer{
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-size:400px;
    background-position: center;
    background-color: #141414; 
    position: relative;
    width:100%;
}
.Footer a{
    text-decoration:none;
}
.feedback
{   display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
    position: inherit;
}

.feedback h2
{
    font-size: 1.7rem;
    font-weight: lighter;
    color: white;
    margin-top: -2%;
}
.feedback p
{
    font-size: 1.6rem;
    color: white;
    font-weight: lighter;
    opacity: .6;
}
.share
{
    margin-top: 3%;
}
.feedback .share a
{
    font-size: 1.6rem;
    color: white;
    width: 35%;
}
.feedback .share a:hover
{
    color: #ffffff;
	font-weight: bolder;
}
.policy
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    cursor: pointer;
    width:100%;
    padding:5px 20px;
    margin-top: 4%;
}
.feedback .policy a
{
    font-weight: lighter;
    font-size: 1.7rem;
    color: white;
    height: 30px;

}
.policy a:hover
{
    color: #ffffff;
	font-weight: bolder;
}
.connectus
{
    width: 40%;
    font-size: 1.9rem;
    font-weight: lighter;
    text-align: center;
    color: white;
    margin-top: 1%;
}

.footer-menu{
    display: flex;
    flex-direction: row;
    background-color: white;
     /* border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%; */
    justify-content: center;
    width: 80%;
    height: 55px;
    align-items: center;
    padding:5px 40px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
.footer-menu a{
    padding:5px 20px;
    margin: 10px;
    color:#202020;
} 

.fa-facebook-f
{
    color: #4234e4;
    font-size: 1.8rem;
    margin-top: -4%;
}
.fa-twitter
{
    color: rgb(77, 173, 211);
    font-size: 1.8rem;
    margin-top: -4%;
}
.fa-instagram-square
{
color: rgb(167, 51, 90);
font-size: 1.8rem;
margin-top: -4%;
    
}
.fa-youtube
{
    color: red;
    font-size: 1.8rem;
    margin-top: -4%;

}
.fa-facebook-f:hover,.fa-twitter:hover,.fa-instagram-square:hover,.fa-youtube:hover
{
    transform:scale(1.3);
}

.Info-News
{
    display: flex;
    flex-direction: row;
    position: relative;
    font-weight: lighter;
    font-size: 1.7rem;
    justify-content: center;
    cursor: pointer;
    width:50%;
}
.news,.Blog
{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 50%;
}
.news h6,.Blog h6{
	font-size: 2rem;
    font-weight: bolder;
}
.news a,.Blog a
{
    color: white;
}
.news a:hover,.Blog a:hover
{
	color: white;
	font-weight: bolder;
}
.Blog
{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    width: 50%;
}

.copyright{
    width: 100%;
    color:#e7e7e7;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-top: 1px solid white;
}
.fa-copyright
{
    font-size: 1.7rem;
    margin-top: .2%;
}
.news,.Blog
{
    color: #e7e7e7;
}
@media screen and (max-width:1510px)
 {
    .Footer{
        display: flex;
        flex-direction: column;
    }
    .feedback,.connectus,.Info-News
    {
        width:100%;
        align-items: center;
    }
    .feedback,.connectus
    {
        border-bottom: 1px solid white;
    }
    .share
    {
        margin-bottom: 2%;
    }
    .Info-News
    {
        margin-top: 4%;
    }
    .news,.Blog
    {
        align-items: center;
    }
     .footer-menu{
        width: 40%;
    }
    .footer-menu  a{
        padding:5px 10px;
        margin: 26px;
    }
}
    @media screen and (max-width:950px)
    {
        .footer-menu{
            display: flex;
            flex-flow: wrap;
            height: auto;
            width: 100%;
        }
        .fa-facebook-f,.fa-twitter,.fa-instagram-square,.fa-youtube
        {
            font-size: 1.9rem;
        }
}
@media screen and (max-width:563px)
{
    .footer-menu{
        display: flex;
        height: auto;
        border-radius: 0px;
        width: 100%;
		align-items: center;
		justify-content: center;
		padding: 0%;
    }
	.footer-menu a{
		padding:0%;
		margin: 10px;
		color:#202020;
	} 
    .fa-facebook-f,.fa-twitter,.fa-instagram-square,.fa-youtube
    {
        font-size: 1.9rem;
    }
}