.backgroundBox
{
    width:100%;
    margin: 12rem 0rem 0rem 0rem;
    height:auto;
    background: rgb(247,247,247);
    display: flex;
    justify-content: center;
}
.containerBox
{
    width: 70%;
    height: auto;
    display: flex;
    margin:10rem 0rem 10rem 0rem;
    border-radius: .6rem;
    box-shadow: 0 0 7px rgb(122, 119, 119);
}
.imageBox
{
    width: 50%;
    height: auto;
    border-radius: .6rem 0rem 0rem .6rem;
    display: flex;
}
.imageBox img{
    width: 100%;
    height: 100%;
    border-radius: .6rem 0rem 0rem .6rem;
    margin-top: 0px;
}
.formBox
{
    width: 50%;
    margin-top: 0px;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  rgb(15,99,157);
    border-radius: 0rem .6rem .6rem 0rem;
}
.formBox h6{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2.6rem;
    margin-top: 3rem;
    text-transform: uppercase;
}
.loginbox,.signupbox,.resetbox,.resetpassbox
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: white;
}
.loginbox form,.signupbox form,.resetbox form,.resetpassbox form{
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
}
.loginbox input[type=text],.loginbox input[type=password]
{
    outline: none;   
    padding: .4rem 0rem 0rem .7rem;
    width: 88%;
    display: flex;
    height: 100%;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    border: none;
}
.maintitle{
    width: 100%;
    justify-content: center;
    height: 5rem;
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 5rem 0rem 1rem 0rem;
    text-transform: uppercase;
}
.userdata,.userpassword,.username,.cuserpassword,.otp,.resetpassword,.cresetpassword
{
    width: 75%;
    height: 4.5rem;
    display: flex;
    margin-top: 4rem; 
}
.usericon
{
    width:12%;
    border-right:none ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 169, 187);
}
.usericon  .fa-user,.fa-key
{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}
.otp{
    margin-top: 1rem;
}
.formBox input[type=tel],input[type=password],input[type=text],textarea,input[type=email]
{
    outline: none;   
    padding: .4rem 0rem 0rem .7rem;
    width: 100%;
    display: flex;
    height: 100%;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    border: none;
}

::placeholder
{
    color: rgb(13,91,140);
    font-size: 1.6rem;
}
.loginbtn,.signupbtn,.SendOTP,.reset
{
    width: 100%;
    height:4rem;
    display: flex;
    justify-content: center;
    margin: 2rem 0rem 6rem 0rem;
}
.signupbtn
{
    margin: 2rem 0rem 4rem 0rem;
}
.verify
{
width:75%;
height: 4rem;
outline: none;
border: none;
border-radius: 5px;
font-size: 1.8rem;
background-color: rgb(15,99,157);
color: white;
cursor: pointer;
margin: 4rem 0rem 3rem 0rem;
display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
}
.formBox input[type=submit],button[type=submit]
{
    width:75%;
    height: 4rem;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    background-color: rgb(8, 50, 187);
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-top: 3rem;
}
.formBox input[type=submit]:hover,button[type=submit]:hover,.SendOTP button[type=submit]:hover,.verify:hover
{
    background-color: rgb(233, 163, 0);
}
.SendOTP input[type=submit]
{
width:75%;
height: 4rem;
background-color: rgb(15,99,157);
text-transform: uppercase;
margin: 2rem 0rem 0rem 0rem;
}

.bottomcontent,.bottomcontent1
{
width: 100%;
display: flex;
justify-content: center;
margin: 3rem 0rem 1rem 0rem;
font-size: 1.7rem;
cursor: pointer;
text-transform: uppercase;
}
.bottomcontent:hover,.bottomcontent1:hover
{
    transform: scale(1.1);
}
.bottomcontent1
{
    margin: 1rem 0rem 3rem 0rem;
}
  @media (max-width: 900px) {
   .containerBox
   {
       width: 100%;
       flex-direction: column;
       margin: 0rem ;
   }
   .imageBox,.formBox
   {
       width: 100%;
   }
  }
 @media (max-width:350px) {
    .userdata,.userpassword,.username,.cuserpassword,.otp,.resetpassword,.cresetpassword
    {
        width: 90%;
    }
 }